@import '~antd/es/style/themes/default.less';

.main {
  width: 100%;
  background: @component-background;
}

.container {
  padding-bottom: 20px;
  textarea {
    margin-bottom: 20px;
  }
}
.replace {
  margin-bottom: 20px;
}
.match {
  height: 92px;
  min-height: 92px;
  max-height: 92px;
  margin-bottom: 20px;
  padding: 4px 11px;
  border: 1px solid rgb(217, 217, 217);
  border-radius: 4px;
  &:hover {
    border-color: #40a9ff;
  }
}
.placeholder {
  color: #d9d9d9;
}
.input {
  color: rgba(0, 0, 0, 0.65);
}
.regButton {
  margin-right: 20px;
  margin-bottom: 20px;
}
.regTitle {
  margin-bottom: 20px;
}
.tableContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  .table {
    width: 30%;
  }
}
